POSTGRES_USER="chain"
POSTGRES_PASSWORD="change-this-strong-postgres-password"
POSTGRES_DB="chain_checkout"

DATABASE_URL="postgresql://chain:change-this-strong-postgres-password@postgres:5432/chain_checkout?schema=public"
REDIS_URL="redis://redis:6379"
JWT_SECRET="change-this-long-random-secret-at-least-32-chars"
CORS_ORIGIN="https://chain-checkout.twardy.dev"
RPC_URL="https://sepolia.base.org"
CHAIN_ID="84532"
PAYMENT_CONTRACT_ADDRESS="0x0000000000000000000000000000000000000000"
ACCEPTED_TOKEN_ADDRESS="0x0000000000000000000000000000000000000000"
MERCHANT_ADDRESS="0x0000000000000000000000000000000000000000"
REQUIRED_CONFIRMATIONS="1"
ORDER_EXPIRATION_MINUTES="15"

NEXT_PUBLIC_API_URL="https://chain-checkout.twardy.dev"
NEXT_PUBLIC_CHAIN_ID="84532"
NEXT_PUBLIC_PAYMENT_CONTRACT_ADDRESS="0x0000000000000000000000000000000000000000"
NEXT_PUBLIC_TOKEN_ADDRESS="0x0000000000000000000000000000000000000000"
NEXT_PUBLIC_BLOCK_EXPLORER_URL="https://sepolia.basescan.org"
